@CHARSET "UTF-8";

/* Base */
* {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;  
}

a:hover,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

/* Messages */
.aldu-helpers-ui-message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

.aldu-helpers-ui-message,
.aldu-helpers-ui-success,
.aldu-helpers-ui-notice,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
  background-image: linear-gradient(top, #ffcc00, #E6B800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.aldu-helpers-ui-message,
.aldu-helpers-ui-success,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.aldu-helpers-ui-success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
  background-image: linear-gradient(top, #76BF6B, #3B8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.aldu-helpers-ui-success,
.aldu-helpers-ui-notice,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  font-size: 100%;
  padding: 0.8em;
  margin: 1em 0;
}

.aldu-helpers-ui-debug {
  font-family: Monaco, Consolas, Courier, monospace;
  white-space: pre-wrap;
  color: #000;
  background: #f0f0f0;
  padding: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a.aldu-core-model-action {
  padding: 0 .2em;
}

/* Shortcut classes */
.fullwidth {
  width: 100%;
}

.half,
.halfwidth {
  width: 50%;
}

.third,
.thirdwidth {
  width: 33%;
}

.none {
  display: none;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.table,
.columns {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.columns {
  width: 100%;
}

.table.fluid {
  table-layout: auto;
}

.table.separate {
  border-collapse: separate;
}

.table.inline {
  display: inline-table;
}

.row {
  display: table-row;
}

.cell,
.columns > .row > .cell,
.column {
  display: table-cell;
  vertical-align: top;
}

.columns > .row > .cell,
.column {
  border-right: 1px solid #1a1a1a;
  padding: 0px 8px;
}

.columns > .row > .cell:first-child,
.column:first-child {
  border-left: 1px solid #1a1a1a;
}

.pre,
.monospace {
  white-space: pre;
  font-family: monospace;
}

.bigger,
.bigger * {
  font-size: 1.5em;
}

.big,
.big * {
  font-size: 1.25em;
}

.small,
.small * {
  font-size: .75em;
}

.smaller,
.smaller * {
  font-size: .5em;
}

.tiny,
.tiny * {
  font-size: .25em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  display: inline-block;
}

/* Effects */
.rounded {
  margin: 6px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 8px 15px;
}

.gradient {
  color: #333;
  background: #1a1717;
  background: -moz-linear-gradient(center bottom, #1a1717 0%, #2c2929 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1a1717), color-stop(1, #2c2929) );
}

