@CHARSET "UTF-8";

/* Base */
* {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* Forms */
form {
  clear: both;
  padding: 0;
  width: 100%;
}

fieldset {
  margin-top: 1em;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border: #aaa solid 1px;
  padding: .6em;
  background: #eee;
  text-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 1px 1px 2px #fff inset;
  -webkit-box-shadow: 1px 1px 2px #fff inset;
  box-shadow: 1px 1px 2px #fff inset;
}

fieldset legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #444;
  padding: 5px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #aaa;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 15px #bbb;
  -webkit-box-shadow: 3px 3px 15px #bbb;
  box-shadow: 3px 3px 15px #bbb;
}

fieldset fieldset {
  margin: 0.5em;
  background: #fff;
  border: 1px solid #aaa;
  background: none repeat scroll 0 0 #E8E8E8;
}

div.aldu-helpers-html-form-element {
  cursor: default;
  clear: both;
  margin-bottom: .5em;
  padding: .5em;
  vertical-align: text-top;
}

div.aldu-helpers-html-form-element label {
  display: block;
  font-size: 110%;
  margin-bottom: .2em;
  margin-left: .1em;
}

div.aldu-helpers-html-form-required label {
  font-weight: bold;
}

div.aldu-helpers-html-form-required label:after {
  color: #e32;
  content: '*';
  display: inline;
}

div.aldu-helpers-html-form-input {
  color: #444;
}

div.aldu-helpers-html-form-input input,
div.aldu-helpers-html-form-textarea textarea {
  clear: both;
  font-size: 120%;
  font-family: inherit;
  padding: 4px; /* 1% */
  margin: 4px 0px;
  box-sizing: border-box;
  width: 100%;
}

div.aldu-helpers-html-form-textarea textarea {
  resize: vertical;
  height: 20em;
}

div.aldu-helpers-html-form-select select {
  clear: both;
  font-size: 120%;
  vertical-align: baseline;
  margin-right: .5em;
}

div.aldu-helpers-html-form-select select[multiple=multiple] {
  width: 100%;
}

div.aldu-helpers-html-form-select select option {
  font-size: 120%;
  padding: 0 3px;
}

div.aldu-helpers-html-form-radio,
div.aldu-helpers-html-form-checkbox {
  display: inline-block;
}

input[type=radio],
input[type=checkbox] {
  vertical-align: middle;
  clear: left;
  margin: .1em .25em .25em .25em;
  width: auto;
}

div.aldu-helpers-html-form-radio label,
div.aldu-helpers-html-form-checkbox label {
  display: inline-block;
  vertical-align: middle;
}

div.aldu-helpers-html-form-radio label span,
div.aldu-helpers-html-form-checkbox label span {
  vertical-align: middle;
  clear: both;
}

div.aldu-helpers-html-form-radio label img,
div.aldu-helpers-html-form-checkbox label img {
  vertical-align: middle;
  display: inline-block;
}

div.aldu-helpers-html-form-radio label a,
div.aldu-helpers-html-form-checkbox label a {
  display: block;
  clear: both;
}

div.aldu-helpers-html-form-hidden {
  display: none;
}

div.aldu-helpers-html-form-submit {
  border: 0;
  clear: both;
  margin-top: 10px;
}

div.aldu-helpers-html-form-submit button,
div.aldu-helpers-html-form-submit input {
  display: inline;
  font-size: 110%;
  width: auto;
}

div.aldu-helpers-html-form-submit input {
  background: #62af56;
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  border-color: #2d6324;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
  padding: 8px 10px;
}

div.aldu-helpers-html-form-submit input:hover {
  background: #5BA150;
}

/* Form errors */
div.aldu-helpers-html-form-element.error,
div.aldu-helpers-html-form-element.invalid,
div.aldu-helpers-html-form-element.missing {
  
}

/* Messages */
.aldu-helpers-ui-message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

.aldu-helpers-ui-message,
.aldu-helpers-ui-success,
.aldu-helpers-ui-notice,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
  background-image: linear-gradient(top, #ffcc00, #E6B800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.aldu-helpers-ui-message,
.aldu-helpers-ui-success,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.aldu-helpers-ui-success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
  background-image: linear-gradient(top, #76BF6B, #3B8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.aldu-helpers-ui-success,
.aldu-helpers-ui-notice,
.aldu-helpers-ui-error,
.aldu-helpers-ui-debug {
  font-size: 100%;
  padding: 0.8em;
  margin: 1em 0;
}

.aldu-helpers-ui-debug {
  font-family: Monaco, Consolas, Courier, monospace;
  white-space: pre-wrap;
  color: #000;
  background: #f0f0f0;
  padding: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/** Tables **
table {
  border-right: 0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

table th {
  border: 0;
  border-bottom: 2px solid #555;
  text-align: left;
  padding: 4px;
}

table th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}

table th a.asc:after {
  content: ' ⇣';
}

table th a.desc:after {
  content: ' ⇡';
}

table tr td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background: #f9f9f9;
}

table td.actions {
  text-align: center;
}

table td.actions a {
  margin: 0px 6px;
  padding: 2px 5px;
}

table.aldu-core-view-index td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table .aldu-core-file-thumb {
  width: 92px;
}

table .aldu-core-model-actions {
  width: 120px;
}

table .aldu-core-model-actions {
  text-align: center;
  vertical-align: middle;
}

table .aldu-core-model-actions a {
  display: inline-block;
}

/* Buttons and button links *
button,
input[type=submit],
.actions ul li a,
.actions a {
  font-weight: normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color: #333;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px
    rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px
    rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px
    rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}

/* Shortcut classes */
.fullwidth {
  width: 100%;
}

.half,
.halfwidth {
  width: 50%;
}

.third,
.thirdwidth {
  width: 33%;
}

.none {
  display: none;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.table,
.columns {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.table.fluid {
  table-layout: auto;
}

.table.separate {
  border-collapse: separate;
}

.row {
  display: table-row;
}

.cell,
.column {
  display: table-cell;
  vertical-align: top;
}

.column {
  border-right: 1px solid #1a1a1a;
  padding: 0px 8px;
}

.column:first-child {
  border-left: 1px solid #1a1a1a;
}

.pre,
.monospace {
  white-space: pre;
  font-family: monospace;
}

.bigger,
.bigger * {
  font-size: 1.5em;
}

.big,
.big * {
  font-size: 1.25em;
}

.small,
.small * {
  font-size: .75em;
}

.smaller,
.smaller * {
  font-size: .5em;
}

.tiny,
.tiny * {
  font-size: .25em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  display: inline-block;
}

/* Effects */
.rounded {
  margin: 6px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 8px 15px;
}

.gradient {
  color: #333;
  background: #1a1717;
  background: -moz-linear-gradient(center bottom, #1a1717 0%, #2c2929 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1a1717), color-stop(1, #2c2929) );
}

