@CHARSET "UTF-8";
article.aldu-blog-views-article table,
table.aldu-core-view-helper-html-table {
  table-layout: fixed;
  border-collapse: collapse;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

article.aldu-blog-views-article table thead th,
table.aldu-core-view-helper-html-table thead th {
  border-top: 2px solid #555;
  border-bottom: 1px solid #555;
}

article.aldu-blog-views-article table tfoot th,
table.aldu-core-view-helper-html-table tfoot th {
  border-top: 2px solid #555;
}

article.aldu-blog-views-article table th,
table.aldu-core-view-helper-html-table th {
  text-align: left;
  padding: 8px 4px;
}

table.aldu-core-view-helper-html-table th.sorting_desc,
table.aldu-core-view-helper-html-table th.sorting_asc,
table.aldu-core-view-helper-html-table th.sorting {
  cursor: pointer;
}

table.aldu-core-view-helper-html-table th.sorting_asc::after {
  content: '⇣';
  float: right;
}

table.aldu-core-view-helper-html-table th.sorting_desc::after {
  content: '⇡';
  float: right;
}

table.aldu-core-view-helper-html-table td.actions {
  width: 1px;
  text-align: center;
}


/*
table.aldu-core-view-helper-html-table td,
table.aldu-core-view-helper-html-table td > div,*/
article.aldu-blog-views-article table td {
  padding: 4px;
  /*
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  */
}

article.aldu-blog-views-article table tr:nth-child(even),
table.aldu-core-view-helper-html-table tr:nth-child(even) {
  background: #f9f9f9;
}

table.aldu-core-view-tags colgroup col:first-child,
table.aldu-core-view-tagged colgroup col:first-child {
  width: 36px;
}

table.aldu-core-view-helper-html-table tr td a.aldu-core-view-table-anchor {
  text-decoration: inherit;
}
/** DataTables **/
.dataTables_length,
.dataTables_info {
  clear: both;
  float: left;
}

.dataTables_paginate {
  text-align: right;
}
.paginate_disabled_previous,
.paginate_disabled_next {
  cursor: default !important;
  opacity: .35;
}
