@CHARSET "UTF-8";

table.aldu-helpers-html-table {
  table-layout: auto;
  clear: both;
  color: #333;
  background-color: #eee;
  margin-bottom: 10px;
  width: 100%;
}

table.aldu-helpers-html-table thead th {
  border-bottom: 2px solid #555;
}

table.aldu-helpers-html-table tfoot th {
  border-top: 2px solid #555;
}

table.aldu-helpers-html-table th {
  text-align: left;
  padding: 8px 4px;
}

table.aldu-helpers-html-table th.sorting_desc,
table.aldu-helpers-html-table th.sorting_asc,
table.aldu-helpers-html-table th.sorting {
  cursor: pointer;
}

table.aldu-helpers-html-table th.sorting_asc::after {
  content: '⇣';
  float: right;
}

table.aldu-helpers-html-table th.sorting_desc::after {
  content: '⇡';
  float: right;
}

table.aldu-helpers-html-table td.actions {
  width: 1px;
  text-align: center;
}

/*
table.aldu-helpers-html-table td,
table.aldu-helpers-html-table td > div {
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
*/
table.aldu-helpers-html-table tr:nth-child(even) {
  background: #f9f9f9;
}

table.aldu-core-view-tags colgroup col:first-child,
table.aldu-core-view-tagged colgroup col:first-child {
  width: 36px;
}

/** DataTables **/
.dataTables_length,
.dataTables_info {
  clear: both;
  float: left;
}

.dataTables_paginate {
  text-align: right;
}
.paginate_disabled_previous,
.paginate_disabled_next {
  cursor: default !important;
  opacity: .35;
}
