@CHARSET "UTF-8";

/**
 * Table layout
 */
.table, .columns {
  behavior: url("//cdn.aldu.net/aldu/latest/htc/display-table.min.htc");
}

.table .row, .columns > div, .colgroup {
  -dt-display: table-row;
}

.table .cell, .columns > div > div, .column {
  -dt-display: table-cell;
}

td.dt {
  color: #999;
  background-color: inherit;
  margin: 0px;
  border: 0px;
  padding: 0px;
  table-layout: fixed;
  vertical-align: top;
}

.column.dt {
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid #1a1a1a;
  padding: 0px 8px;
}

.column.dt:first-child {
  border-left: 1px solid #1a1a1a;
}